<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="isArticleExist=${article.id ne null}">
<head th:replace="~{fragment/fragment :: head(${isArticleExist} ? #{lt.code.academy.blog.article.button.update} : #{lt.code.academy.blog.article.button.create})}"></head>
<body>
    <div class="container" style="max-width: 1080px;">

        <header th:replace="~{fragment/fragment :: header}"></header>

        <h3 th:text="${isArticleExist} ? #{lt.code.academy.blog.article.button.updateForm} : #{lt.code.academy.blog.article.button.createForm}"></h3>

        <div th:if="${isArticleExist}"
             th:include="~{fragment/fragment :: articleForm(@{/articles/{id}/update(id=${article.id})})}"></div>
        <div th:unless="${isArticleExist}"
             th:include="~{fragment/fragment :: articleForm(@{/articles/create})}"></div>

        <div class="alert alert-success mt-3" th:if="${message}" th:text="${message}"></div>

        <footer th:replace="~{fragment/fragment :: footer}"></footer>
    </div>



</body>
</html>