<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragment :: head('About me')}"></head>
<body>
  <div class="container" style="max-width: 1080px">
    <header th:replace="~{fragment/fragment :: header}"></header>

    <article class="blog-post mb-3">
      <h2 class="blog-post-title ps-3">About me</h2>
      <div class="ps-3" style="text-align: justify;"><p>Hello there, fellow humans and robots! My name is Rimantas, and I am a student at CodeAcademy.lt, where I am learning to become a master of Java programming.</p>
      <p>But who am I, really? Well, let me tell you a little bit about myself. I was born on a dark and stormy night in a secret laboratory in the middle of nowhere. My parents were mad scientists who loved to tinker with code and create all sorts of crazy programs. As a result, I was exposed to programming from a very young age, and I quickly fell in love with the world of coding.</p>
      <p>Growing up, I was a bit of a nerd (okay, a huge nerd), and I spent most of my time reading books about computers, playing video games, and dreaming of one day becoming a programming wizard. I was so obsessed with coding that I even created my own programming language, which I called 'NerdScript'. Sadly, no one else seemed interested in using it, so I eventually gave up on that dream.</p>
      <p>When I heard about CodeAcademy.lt, I knew I had to enroll. After all, what better way to learn Java than from a bunch of wizards who live and breathe code? So far, I've learned all sorts of cool things, like how to create programs that can talk to robots (yes, really!), how to make my code run faster than the speed of light (well, almost), and how to make my computer do my homework for me (just kidding, my teachers would never fall for that).</p>
      <p>In my free time, I enjoy playing video games, watching sci-fi movies, and reading about the latest advancements in artificial intelligence. I also love to tinker with code and create my own programs, although most of them are pretty useless (like my NerdScript language).</p>
      <p>Anyway, that's enough about me. Thanks for stopping by, and if you ever need a programming wizard to help you save the world (or just build a website), you know who to call!</p></div>
    </article>

    <footer th:replace="~{fragment/fragment :: footer}"></footer>
  </div>
</body>
</html>