<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lt.code.academy.blog.articleDetails.title}"></title>
</head>
<body>
    <div>
        <b th:text="#{lt.code.academy.blog.articles.table.title}"></b>
        <span th:text="${article.title}"></span>
    </div>
    <div>
        <b th:text="#{lt.code.academy.blog.articles.table.description}"></b>
        <span th:text="${article.description}"></span>
    </div>
    <div>
        <b th:text="#{lt.code.academy.blog.articles.table.articleText}"></b>
        <span th:text="${article.text}"></span>
    </div>
    <div>
        <a th:href="@{/articles/{id}/update(id=${article.id})}"
        th:text="#{lt.code.academy.blog.article.button.update}"></a>
    </div>
</body>
</html>