<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragment/fragment :: head('My blog')}"></head>
<body>

    <div class="container" style="max-width: 1080px;">

        <header th:replace="~{fragment/fragment :: header}"></header>

        <div th:if="${#lists.isEmpty(articles)}" th:text="#{lt.code.academy.blog.articles.empty.message}"></div>

        <div th:each="article: ${articles}">
            <div class="p-3 mb-4 border rounded-3">
                <div class="container-fluid py-2">
                    <h1 class="display-6 fw-bold" th:text="${article.title}"></h1>
                    <p class="blog-post-meta fs-7" th:text="${#temporals.format(article.dateTime, 'dd/MM/yyyy HH:mm')}"></p>
                    <p class="col-md-8 fs-5" th:text="${article.description}" style="word-wrap: break-word"></p>
                    <a th:href="@{articles/readArticle/{id}(id=${article.id})}">
                        <button class="btn btn-secondary btn-sm" type="button" th:text="#{lt.code.academy.blog.article.button.readArticle}"></button>
                    </a>
                </div>
            </div>
        </div>

        <footer th:replace="~{fragment/fragment :: footer}"></footer>
    </div>


</body>
</html>