<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        th:with="isCommentExist=${comment.id ne null}">
<head th:replace="~{fragment/fragment :: head('Read my post')}"></head>
<body>
    <div class="container" style="max-width: 1080px">

        <header th:replace="~{fragment/fragment :: header}"></header>

        <article class="blog-post border rounded-3 mb-3">
            <h2 class="blog-post-title ps-3" th:text="${article.title}"></h2>
            <p class="blog-post-meta ps-3" th:text="${#temporals.format(article.dateTime, 'dd/MM/yyyy HH:mm') + ' Author'}"></p>
            <p class="ps-3" th:text="${article.text}"></p>
            <div class="ps-3 pb-3">
                <a th:href="@{/articles/{id}/update(id=${article.id})}">
                    <button class="btn btn-secondary btn-sm" th:text="#{lt.code.academy.blog.articles.table.options.edit}"></button></a>
                <a th:href="@{/articles/{id}/delete(id=${article.id})}">
                    <button class="btn btn-secondary btn-sm" th:text="#{lt.code.academy.blog.article.table.options.delete}"></button></a>
            </div>
        </article>

        <h3 class="blog-post-title ps-3" th:text="#{lt.code.academy.blog.readArticle.comments}">></h3>
        <div class="blog-post mb-1" style="max-width: 700px">
            <div class="ps-3" th:if="${#lists.isEmpty(comments)}" th:text="#{lt.code.academy.blog.comments.empty.message}"></div>
            <div class="border rounded-3 mt-2 mb-2" th:each="comment: ${comments}">
                <p class="blog-post-meta ps-3 pt-3" th:text="${#temporals.format(article.dateTime, 'dd/MM/yyyy HH:mm') + ' Commented by User'}"><</p>
                <p class="ps-3" th:text="${comment.comment}"></p>
                <div class="ps-3 pb-3">
                    <a th:href="@{/articles/readArticle/{articleId}/{commentId}/update(articleId=${article.id}, commentId=${comment.id})}"><button class="btn btn-secondary btn-sm" th:text="#{lt.code.academy.blog.comments.button.editComment}"></button></a>
                    <a th:href="@{/articles/readArticle/{articleId}/{commentId}/delete(articleId=${article.id}, commentId=${comment.id})}"><button class="btn btn-secondary btn-sm" th:text="#{lt.code.academy.blog.comments.button.delete}"></button></a>
                </div>
            </div>
        </div>

        <div class="form-floating">
            <form method="post" th:object="${comment}">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px;max-width: 700px" th:field="*{comment}"></textarea>
<!--                <input type="hidden" th:field="*{articleId}" value="${article.id}" />-->
                <button class="btn btn-secondary btn-sm m-1" type="submit" th:text="${isCommentExist} ? #{lt.code.academy.blog.comments.button.update.save} : #{lt.code.academy.blog.comments.button.addComment}"></button>
            </form>
        </div>

        <footer th:replace="~{fragment/fragment :: footer}"></footer>
    </div>



</body>
</html>